:root{
 --header-color: #03A9F4;
 --grey-color:#7D7D7D;
 --light-color:#B4AD9E;
 --black-color:#626262;
 --white-color:#E5E5E5;
}
.list{
    text-transform:uppercase;
    
}
ol,
ul{
    list-style: none;
}
@font-face {
    font-family:Ubuntu;
    src: url(./assets/fonts/Ubuntu-Light.ttf) format('ttf');
}
@font-face {
    font-family: Playfair Display ;
    src: url(./assets/fonts/PlayfairDisplay-Regular.ttf) format('ttf');
}
*{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.subtitle{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color:var(--light-color)
}
*{
    margin: 0cm;
    padding: 0cm;
    border-width: 0px;
}
.header:hover{
    color:var(--header-color);
}
.subject{
    color:var(--black-color);
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 40px;
}
.text{
    color:var(--black-color);
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 420px;
    height: 76px;
    left: 148px;
    top: 652px;
    padding-bottom: 110px;
}
body{
    background-color: var(--white-color);
}
.button{
    color:var(--black-color);
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-left: 555px;
    margin-right: 557px;
    
    width: 165px;
    height: 60px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main{
    margin-right: 100px;
}
.list{
    padding: 71px 330px 92px 314px;
}
.section:not(last-child){
    margin-right: 65px;
}
.filter:nth-child(1n){
    margin-right: 100px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 92px 147px 66px 147px;
}
.image{
    padding-bottom: 62px;
}
.subtitle{
    padding-bottom: 32px;
}



